.new-tab {
  height: 100vh;
}

.theme {
  height: 100%
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.quote {
  font-family: 'Bungee', cursive;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #019;
  color: white;
  text-align: center;
  opacity: 0.75;
  margin: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.feed-list {
  padding: 0;
}

.feed-item {
    display: flex;
    padding: 5px 10px 5px 10px;
    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
}

.no-shows {
  padding: 5px 10px 5px 10px;
  color: white;
  text-align: center;
  font-family: 'Bungee', cursive;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #019;
  opacity: 0.75;
  font-size: small;
}

.feed {
    width: 40%;
    background-color: rgba(999, 0, 0, 0.5);
    margin: 20px;
    height: 100%;
}

a {width: 75%;text-decoration: none;color: white;}

.feed-item-date {
    width: 20%;
    color: white;
    text-align: center;
    margin-right: 20px;
}

.list-header {
  font-family: 'Bungee', cursive;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #019;
  color: white;
  text-align: center;
  opacity: 0.75;
}


a:hover {
  text-decoration: underline;
}
