.new-tab {
  height: 100vh;
}

.theme {
  height: 100%
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.quote {
  font-family: 'Bungee', cursive;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #019;
  color: white;
  text-align: center;
  opacity: 0.75;
  margin: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.sub-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.feed-list {
  padding: 0;
}

.feed-item {
    display: flex;
    padding: 5px 10px 5px 10px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.no-shows {
  padding: 5px 10px 5px 10px;
  color: white;
  text-align: center;
  font-family: 'Bungee', cursive;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #019;
  opacity: 0.75;
  font-size: small;
}

.feed {
    background-color: rgba(999, 0, 0, 0.6);
    height: 100%;
    width: 85%;
    margin: 20px;
}

.yeButton-container {
  background-color: rgba(999, 0, 0, 0.5);
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 20px;
}

a {width: 75%;text-decoration: none;color: white;}

.feed-item-date {
    width: 20%;
    color: white;
    text-align: center;
    margin-right: 20px;
}

.list-header {
  font-family: 'Bungee', cursive;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #019;
  color: white;
  text-align: center;
  opacity: 0.75;
}


a:hover {
  text-decoration: underline;
}

.yeButton {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Bungee', cursive;
  font-size:17px;
  padding: 5px 5px;
  text-decoration:none;
  text-align: center;
  text-shadow:0px 1px 0px #810e05;
}
.yeButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
  text-decoration: none;
}
.yeButton:active {
  position:relative;
  top:1px;
}
